<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nihon.aki2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application

        android:name="com.nihon.aki2.GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
       
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.nihon.aki2.Myweb"
            android:label="@string/title_activity_myweb"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.nihon.aki2.Audit"
            android:label="@string/title_activity_audit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Basich"
            android:label="@string/title_activity_basich"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Basicmenu"
            android:label="@string/title_activity_basicmenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Basic"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.QAmenu"
            android:label="@string/title_activity_qamenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Sanmenu"
            android:label="@string/title_activity_sanmenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.nihon.aki2.Notes"
            android:label="@string/title_activity_notes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Shiken"
            android:label="@string/title_activity_shiken"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Santance"
            android:label="@string/title_activity_santance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Lesson"
            android:label="@string/title_activity_lesson"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.QA"
            android:label="@string/title_activity_q"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Forgot"
            android:label="@string/title_activity_forgot"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Apply"
            android:label="@string/title_activity_apply"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.nihon.aki2.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.nihon.aki2.Menushow"
            android:label="@string/title_activity_menushow"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.MainActivity"
            android:label="@string/aki"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.News"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Mcart"
            android:label="@string/title_activity_mcart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Change"
            android:label="@string/title_activity_change"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nihon.aki2.Mymenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nihon.aki2.JobSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>